<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">FeeReport</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Add Student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">View Student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Due Fee</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Search Student</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">LogOut</a>
              </li>
              </ul>
          </div>
        </div>
    </nav>
    <div class="accountdody">
        <h1>Hello Accountant Panel</h1>
        <div class="link">
            <a routerLink="../add-student">Add Student</a><br>
            <a routerLink="../view-student">View Student</a><br>
            <a routerLink="../add-student">Edit Student</a><br>
            <a routerLink="../search-student">Search Student</a><br>
            <a routerLink="../del-student">Delete Student</a><br>
            <a routerLink="../student-due">view DueFee</a><br>
        </div>
    </div>
</div>